<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/headdash.ejs %>
    </head>
    <body>
        <% include ../static/partials/navdash.ejs %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 d-none d-md-block bg-light sidebar">
                    <% include ../static/partials/sidebar.ejs %>
                </div>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <% include ../static/partials/messages.ejs %>
                    <h1>
                        <span>Properties</span>
                        <a href="/properties/new" class="btn btn-success float-right">Add Property</a>
                    </h1>
                    <ul class="list-group">
                        <% properties.forEach((property) => { %>
                            <li class="list-group-item">
                                <a href="/properties/<%= property.id %>"><%= property.streetAddress %></a>
                            </li>
                        <% }) %>
                    </ul>
                </main>
            </div>
        </div>

        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>