<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/headdash.ejs %>
    </head>
    <body>
        <% include ../static/partials/navdash.ejs %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 d-none d-md-block bg-light sidebar">
                    <% include ../static/partials/sidebar.ejs %>
                </div>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <% include ../static/partials/messages.ejs %>
                    <h1>Device Details</h1>
                    <h2><%= device.name %></h2>
                    <p>Device ID: <%= device.id%></p>
                    <p>Firmware: <%= device.system_firmware_version %></p>
                    <p>Connected: <%= device.connected %></p>
                </main>
            </div>
        </div>

        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>