<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/headdash.ejs %>
    </head>
    <body>
        <% include ./partials/navdash.ejs %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 d-none d-md-block bg-light sidebar">
                    <% include ./partials/sidebar.ejs %>
                </div>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <% include ./partials/messages.ejs %>
                    <div class="card mt-3">
                        <h2 class="card-header text-center">Welcome</h2>
                        <div class="card-body">
                            <h3 class="text-center">Welcome to Drip!</h3>
                            <p class="text-center">Please add your first device to get started!</p>
                            <div class="text-center"><a class="btn btn-primary" href="/devices/new">Let's Go!</a></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <% include ./partials/baseScripts.ejs %>
    </body>
</html>