<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>

        <main class="container">
            <% include ./partials/messages.ejs %>
            <header id="jumbo" class="jumbotron my-4">
                <h1 class="display-3">Welcome to Drip</h1>
                <p class="lead">Peace of mind water monitoring for your investment properties</p>
                <a href="/users/signup" class="btn btn-primary btn-lg">Sign up</a>
            </header>
        
            <section class="row text-center">
                <section class="col-lg-4">
                    <h4 class="card-title">Real Time Data</h4>
                    <p class="card-text">Access your water usage data anytime, anywhere, in real time!</p>
                </section>

                <section class="col-lg-4">
                    <h4 class="card-title">No WiFi, No Problem</h4>
                    <p class="card-text">Our systems run on cellular hardware, saving time and money!</p>
                </section>

                <section class="col-lg-4">
                    <h4 class="card-title">Active Monitoring</h4>
                    <p class="card-text">Get notifications for water usage issues.</p>
                </section>
            </section>
        </main>

        <% include ./partials/baseScripts.ejs %>
    </body>
</html>